
            <!-- Page content-->
            <section class="py-5">
                <div class="container px-5">
                    <!-- Contact form-->
                    <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                        <div class="text-center mb-5">
                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                            <h1 class="fw-bolder">Get in touch</h1>
                            <p class="lead fw-normal text-muted mb-0">Let's work together!</p>
                            <br />
                            <div class="contact"><img class="contact-img" src="assets/comm.gif" alt="..." /></div>
                            <br />
                            <b>Name:</b>
                            Ruzan Sasuri
                            <br />
                            <b>Email:</b>
                            <a href="mailto:ruzansasuri@gmail.com">ruzansasuri@gmail.com</a>
                            <br />
                            <b>Mobile Number:</b>
                            <a href="tel:(585) 355-6146">(585) 355-6146</a>
                            <br />
                            <b>LinkedIn:</b>
                            <a href="https://www.linkedin.com/in/ruzan-sasuri/">https://www.linkedin.com/in/ruzan-sasuri/</a>
                            <br />
                        </div>
                    </div>
                </div>
            </section>
        