
            <!-- Page Content-->
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resume</span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">
                        <!-- Experience Section-->
                        <section>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h2 class="text-primary fw-bolder mb-0">Experience & Education</h2>
                                <!-- Download resume button-->
                                <!-- Note: Set the link href target to a PDF file within your project-->
                                <a class="btn btn-primary px-4 py-3" href="../assets/Ruzan Sasuri-Resume.pdf">
                                    <div class="d-inline-block bi bi-download me-2"></div>
                                    Download Resume
                                </a>
                            </div>
                            <div class="verticalLine">
                            <!-- Experience Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">March 2019 - December 2024</div>
                                                <div class="small fw-bolder">Software Engineer</div>
                                                <div class="small text-muted">F5 Networks, Inc.</div>
                                                <div class="small text-muted">San Francisco, CA</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div>
                                                <li>Designed and implemented full-stack customer-facing features on a large-scale product, working with product, UX/UI, and engineering teams to deliver scalable solutions. Developed a multi-provider VM provisioning feature and mentored junior developers to enhance productivity and foster a collaborative environment.</li>
                                                <li>Contributed to security initiatives as part of the Security Ninjas program, writing and reviewing Threat Model Assessments for new and existing features, enhancing product security by identifying and addressing vulnerabilities during the design phase, reducing the risk of post-release security flaws.</li>
                                                <li>Implemented caching mechanisms to reduce load times of schema-generated pages from 60 seconds to 2 seconds, significantly improving user experience and system performance.</li>
                                                <li>Improved testing efficiency and collaboration by integrating Cypress into CI/CD pipelines for automated UI testing, increasing test coverage, and reducing manual QA efforts, while also promoting Test-Driven Development (TDD) and mob-programming practices to reduce post-release defects by 30% and accelerate development cycles.</li>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Education Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2">August 2016 - December 2018</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">Rochester Institiute of Technology</div>
                                                    <div class="small text-muted">Rochester, NY</div>
                                                </div>
                                                <div class="fst-italic">
                                                    <div class="small text-muted">Master's in</div>
                                                    <div class="small text-muted">Computer Science</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div>
                                                <b>Key Courses:</b>
                                                Distributed Systems, Big Data Analytics, Foundations of Networking.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Experience Card 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">2013 - 2016</div>
                                                <div class="small fw-bolder">Software Engineering Analyst</div>
                                                <div class="small text-muted">Accenture PLC.</div>
                                                <div class="small text-muted">Mumbai, Maharashtra, India</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div>
                                                <li>Spearheaded automation initiatives by creating and deploying Perl and Shell scripts to streamline operational workflows, including disaster recovery solutions that minimized downtime during server failures, resulting in a 20% increase in recovery speed and reduced manual effort.</li>
                                                <li>Automated the Unix-to-Linux (U2L) migration process by developing custom shell scripts to transfer critical configuration files and binaries, ensuring a seamless transition and improving team efficiency by reducing manual effort.</li>
                                                <li>Developed and maintained web-based tools using Perl/CGI, HTML, CSS, and JavaScript to display real-time server data, improving system monitoring and accessibility for stakeholders.</li>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Education Card 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2">2009 - 2013</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">Mumbai University</div>
                                                    <div class="small text-muted">Mumbai, Maharashtra, India</div>
                                                </div>
                                                <div class="fst-italic">
                                                    <div class="small text-muted">Bachelor's in</div>
                                                    <div class="small text-muted">Computer Engineering</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div>
                                                <b>Key Courses:</b>
                                                Computer Networks, Algorithms, Security.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div></div>
                        </section>
                        
                    </div>
                </div>
            </div>
        