<!-- Metrics panel(hidden on load)-->
        <div id="react-modal" class="react-modal">
            <div class="react-modal-content">
                <button id="close-react-modal" class="react-modal-close">✖</button>
                <!-- Loading gif -->
                <div id="iframe-loader" class="iframe-loader">
                    <img src="assets/gear.gif" alt="Loading...">
                    <p>Loading...</p>
                </div>
                <iframe id="react-iframe" src="" frameborder="0"></iframe>
            </div>
        </div>
        <!-- Page Content-->